.edit{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 30px 30px 30px 90px;
    grid-gap: 5px;
}

    .con_name{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .edit_name{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .con_content{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .edit_content{
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }